* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;


}

.card-body , .card-container::-webkit-scrollbar{
  display: none;
}
body {
  height: 100vh;
  background-color: aliceblue;
}

.top-logos {
  font-size: 1.3rem;
}


.btn.btn-danger {
  font-weight: bold;
  font-size: 1.2rem;
}

.carousel-item {
  max-height: 80vh;
  object-fit: cover;
  background-position: center;
}

/* .card img {
  width: 100%;
  padding-bottom: 1vw;
  min-height: 250px;
  height: auto;
  object-fit: cover;
  grid-column: span 2;
  
} */

.card-img{
  padding-bottom: 10px;
  grid-column:  span 2;
  width: 100%;
  min-height: 170px;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover; /* Adjusts the image content */
}


.card-container{
  display: grid;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
}

.card-body {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.card-body .blocks {
  margin-bottom: 7px;
}

.card-body span {
  display: block;
}

.blocks span:first-child {
  font-weight: bold;
}

.price {
  font-size: 1.4rem;
  color: green;
}

.card {
  max-width: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover{
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review {
  text-align: right;
  font-size: 1rem;
  color: rgb(0, 200, 255);
}



@media (max-width: 440px) {

  .dropdown-toggle {
    padding-left: 0;
  }

  .searchbar-body {
    margin-left: 30px;
    display: block !important;
  }

  .card-body span {
    font-size: 1.2rem;
    display: block;
  }
}

@media (min-width: 1024px){
  .card {
    min-width: 230px;
    max-width: 240px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .card-container {
    grid-template-columns: repeat(4,1fr);
  }
}

.card-title{
  color: rgb(6, 6, 6);
  font-size: 1.1rem;
  grid-column:  span 2;
  font-family: 'Poppins';
  letter-spacing: 1px;
}

.card-title strong{
  color: rgb(67, 67, 67);
  font-weight: 400;
}

.carousel-item img{
  object-fit: cover;
  max-height: 400px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;

}

.logo{
  width: 130px;
  height: 60px;
}