html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    animation: shownext 0.4s ease-in;
    scroll-behavior: smooth;

}

body::-webkit-scrollbar {
    display: none;
}

.left::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #040b14;
    align-items: center;
    padding-top: 10px;
    overflow-y: auto;
}

.left img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 7px;
    border: 8px solid rgba(54, 54, 54, 0.651);
}

.left h2 {
    color: white;
    margin-bottom: 3px;
}

.left .socialicon {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
}

.left .socialicon i {
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(103, 103, 103, 0.372);
    transition: 0.5s ease;
}


.left .socialicon i:hover {
    background-color: rgba(37, 222, 255, 0.671)
}

.left .pages {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}

.left .pages li:hover {
    cursor: pointer;
    color: aqua;
}

.left .pages li {
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: flex-start;
    list-style: none;
    color: whitesmoke;
    margin-top: 22px;
    font-size: 18px;
}

.left .pages li a {
    text-decoration: none;
    color: white;
}

.left .pages li i {
    transition: color 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    margin-right: 16px;
}

.left .pages li a.active,
.left .pages li a.active i {
    color: rgba(0, 255, 255, 0.872);
    transition: color 0.9s;
}

.left .pages li a:hover i {
    color: rgba(0, 255, 255, 0.872);
    transition: color 0.9s;
    box-shadow: 0 0 5px aqua;
}

.left .pages li a:hover {
    color: rgba(0, 255, 255, 0.872);
    /* Change this to the desired hover color */
    transition: color 0.9s;
}


.right {
    width: calc(100% - 240px);
    margin-left: 250px;
}

.right #one {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-image: url(./img4.png); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(./img4.png);
    background-size: cover;
}


.right #one h1 {
    margin-left: 115px;
    font-size: 64px;
    margin-bottom: 0px;
    animation: show 1s forwards;
}

.right #one p {

    font-weight: bold;
    margin-top: 5px;
    margin-left: 120px;
    font-size: 32px;
    animation: show 1s forwards;

}

.right #about {
    width: 100%;
    height: 100%;
    background-image: url(./img2.jpg);
    background-size: cover;
}

.right #resume {
    width: 100%;
    height: 100%;
    background-image: url(./img3.jpg);
    background-size: cover;
}

@keyframes show {
    from {
        transform: translateY(200%);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes shownext {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}