* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.image img {
  margin: 5px;
  min-width: 180px;
  min-height: 180px;
  object-fit: cover;
}

.card-section::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.card-section::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.card-section::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

.card-section::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.card-section::-webkit-scrollbar-corner {
  background: transparent;
}


.image::-webkit-scrollbar , body::-webkit-scrollbar {
  display: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-gallery .card {
  max-width: 230px;
  min-width: 230px;
  min-height: 361px;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.card img {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}


.icons {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 25px;
  color: white;
}

.icons i {
  transition: all 0.5s ease;
}

.icons i:hover {
  transform: translateY(-5px);
}


input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;

}

input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

.card-container {
  display: grid;
  column-gap: 10px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;
}

.card-container .card {
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-container .card:hover {
  transform: scale(1.02);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.login .form-outline {
  position: relative;
}

.login .form-label {
  position: absolute;
  top: 30%;
  left: 2%;
  transition: all 0.7s ease;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  /* Ensures text color remains the same */
}


.login input:focus~label,
.login textarea:focus~label,
.login input:valid~label,
.login textarea:valid~label {
  top: -8px;
  font-size: 12px;
  color: #2196F3;
  /* Highlight color */
  background-color: white;
  left: 8px;
  /* Spacing from the left */
  transition: all 0.2s ease;
}


@media (min-width: 1024px) {
  .card-container .card {
    min-width: 230px;
    max-width: 240px;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

a:hover {
  text-decoration: none;
}